// Requirement
@import 'shared/fonts';
@import 'components/button';
@import 'components/navbar';
@import 'components/footer';

// Pages
@import 'pages/login';
@import 'pages/home';
@import 'pages/detail';
@import 'pages/read';
@import 'pages/manga';
@import 'pages/profile';
@import 'pages/community';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;

    overflow-x: hidden;
}