@import '../shared/color';
@import '../shared/fonts';

@import '../shared/color';
@import '../shared/fonts';

@import '../shared/color';
@import '../shared/fonts';

.container-button {
    position: relative;
    display: inline-block;
    padding: 7px;
    width: fit-content; // Sesuaikan lebar container sesuai kebutuhan

    &::after,
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 45%;
        border-radius: 2px;
        box-sizing: border-box;
    }

    &::after {
        top: 0;
        right: 0;
        border: 3px solid $light-grey;
        border-bottom: none;
    }

    &::before {
        bottom: 0;
        right: 0;
        border: 3px solid $light-grey;
        border-top: none;
    }
}

.btn-master {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 92px;
    font-size: 16px;
    line-height: 24px;
    font-weight: map-get($map: $font-weigths, $key: medium);
    border: none;
    border-radius: 0;
    position: relative;
    width: 100%; // Tombol akan mengikuti lebar container
    box-sizing: border-box; // Ensure padding is included in the element's total width and height
}

.btn-primary {
    @extend .btn-master;
    background-color: $red;
    color: white;

    &:hover {
        background-color: $dark-grey;
    }
}

.btn-secondary {
    @extend .btn-master;
    &.btn-master {
        &::after,
        &::before {
            border-color: $dark-grey;
        }
    }

    background-color: $dark-grey;
    color: white;

    &:hover {
        background-color: $red;
    }
}