.base-detail {
    background-color: black;
}

#detail {
    width: 100%;

    background-image: url('../../images/bg-detail.png');
    background-size: contain;
    background-repeat: no-repeat;

    padding-top: 250px;

    .slug {
        font-size: 25px;
        color: $white;

        font-weight: map-get($map: $font-weigths, $key: regular);

        span {
            color: $red;
            font-weight: map-get($map: $font-weigths, $key: regular);
        }

        margin-bottom: 30px;
    }

    .top-content {
        width: 100%;
        height: 70vh;

        

        .manga-cover {
            width: 282px;
            height: 400px;

            margin-right: 40px;
        }

        .manga-detail {
            color: $white;

            .author {
                font-size: 20px;
                font-weight: map-get($map: $font-weigths, $key: light);
            }

            .title {
                color: $red;
                font-size: 96px;
                font-weight: map-get($map: $font-weigths, $key: extrabold);
                
                line-height: 100px;
            }

            .synopsis {
                width: 45vw;

                font-size: 16px;
                font-weight: map-get($map: $font-weigths, $key: regular);
                line-height: 36px;
                letter-spacing: -5%;
            }

            .genres {
                font-size: 14px;
                font-weight: map-get($map: $font-weigths, $key: semibold);

                span {
                    color: $red;
                }
            }
        }

        .btn-group {
            margin-bottom: 7.5%;

            .btn-master {
                padding: 11px 45px;
            }
            
            .container-button {
                width: 100%;
            }
        }
    }

    .chapter-list {
        h5 {
            color: $white;
            font-weight: map-get($map: $font-weigths, $key: extrabold);
            text-align: left;
            line-height: 60px;
            word-spacing: -0.5px;

            font-size: 40px;
            font-weight: map-get($map: $font-weigths, $key: extrabold);

            margin-bottom: 40px;
        }

        .chapter-item {
            text-decoration: none;

            width: 100%;
            padding-bottom: 30px;   
            margin-bottom: 45px;

            border-bottom: 1px solid $white;

            .chapter-cover {
                width: 160px;
                height: 160px;

                background-color: gray;
            }

            color: $white;
            font-weight: map-get($map: $font-weigths, $key: medium);
            font-size: 20px;
            
            .chapter-title {
                font-size: 24px;
                margin-left: 40px;
            }

            .chapter-views {
                .eye-icon {
                    width: 30px;
                    height: 30px;

                    margin-right: 5px;

                    background-image: url('../../images/eye.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            span {
                font-weight: map-get($map: $font-weigths, $key: light);
            }

            &:hover {
                color: $red;

                .eye-icon {
                    background-image: url('../../images/eye-red.png');
                }
            }
        }
    }

    #simillar-manga {
        width: 100%;
        background-color: $white;

        padding-top: 30px;

        .container {
            margin-top: 74px;

            h5 {
                font-size: 40px;
                font-weight: map-get($map: $font-weigths, $key: extrabold);
            }

            .lines {
                width: 45%;
                height: 2px;
    
                border-radius: 2px;
                background-color: black;
    
                margin-bottom: 40px;
            }

            .manga-card {
                width: 20vw;

                text-decoration: none;
                color: black;

                margin-bottom: 70px;

                .img{
                    width: 100%;
                    height: 450px;

                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;

                    transition: all linear 1s;

                }

                .title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-lines: 1;

                    font-size: 32px;
                    font-weight: map-get($map: $font-weigths, $key: semibold);
                
                    margin-top: 15px;
                    margin-bottom: 2px;

                }

                .chp-title {
                    font-size: 20px;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-lines: 2;
                }

                &:hover {
                    .img{
                        background-size: 150%;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    } 
}

